<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.4.0.0" targetFramework="net452" />
  <package id="ImageProcessor.Plugins.Cair" version="1.0.2.0" targetFramework="net452" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net452" />
  <package id="ImageResizer.Plugins.Faces" version="4.0.5" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.308" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.331.1" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.Face" version="1.2.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="OpenCV" version="2.3.1" targetFramework="net452" />
  <package id="OpenCV_binaries" version="2.3.1" targetFramework="net452" />
  <package id="OpenCV_headers" version="2.3.1" targetFramework="net452" />
  <package id="OpenCvSharp-WithoutDll" version="2.4.10.20150820" targetFramework="net452" />
</packages>